

    <%= partial '/partials/head' %>

    <%= partial '/partials/header' %>

    <%= partial '/partials/projectbanner' %>

    <div class="project-wrapper">
      <!-- Before Project Yield on project.erb
      <br> -->

      <%= yield %>
      <br>
      <%= current_page.data.date %>

    </div>

    <%= partial '/partials/footer' %>

    <%= partial '/partials/foot' %>
