

    <%= partial '/partials/head' %>

    <%= partial '/partials/header' %>

    <%= partial '/partials/projectbanner' %>

    <div class="project-wrapper">
      <!-- Before Project Yield on project.erb
      <br> -->

      <%= yield %>
      <br>
      <p> <em> This project was last updated on <%= current_page.data.date %></em></p>
    </div>

    <!-- <%= partial '/partials/footer' %> -->

    <%= partial '/partials/foot' %>
